name: Build Windows Executable

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        
    - name: Install dependencies
      run: flutter pub get
      
    - name: Build Windows EXE
      run: flutter build windows --release
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Executable
        path: build/windows/runner/Release/
